.card {
    background-color: white;
    border: solid 1px #440336;
    border-radius: 10px;
    height: 700px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.card figure {
    margin: 0;
    text-align: center;
    height: 80%;
    display: inline-block;
}
.card img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card figcaption {
    font-size: 40px;
    border-bottom: 1px dashed #440336;
}

.card p {
    margin: 0;
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
}
