#title
{
	font-size: 50px;
	padding: 50px 0;
}
#fiber_description, #title, #comments
{
	background-color: white;
	width: 700px;
	margin-left: auto;
    margin-right: auto;
}
#fiber_description img
{
	object-fit: contain;
	width: 700px;
	border-top: 2px solid #ddc9da;
	border-bottom: 2px solid #ddc9da;
}
#fiber_description p
{
	padding: 50px 0;
    margin: 0;
    border-bottom: 2px solid #ddc9da;
}
#comments
{
    padding: 50px 0;
}