.socials {
    width: 100%;
    text-align: center;
    background-color: #ddc9da;
}

.socialdivs {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.fb,
.ig {
    width: 250px;
    height: 100px;
    float:left;
}

.ig:hover, .fb:hover { background-color: #ffee00; }

.info {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
}
