footer {
    background-color: #ddc9da;
}

footer * {
    padding: 0;
    margin: 0;
}

footer strong {
    font-size: 20px;
}

footer h1 {
    margin-bottom: 10px;
}

footer .row > div {
    padding: 20px 0;
}

footer .row > div p,
footer .row > div .icon-text-combo {
    margin-right: 10px;
    /*text-align: justify;*/
    /*text-justify: inter-word;*/
}

footer .icon-text-combo  {
    display: flex;
}

footer .icon-text-combo strong {
    margin-top: 10px;
}

footer hr {
    border: solid 1px #440336;
}

footer .info {
    text-align: center;
    padding: 16px 0;
    color: #7e6a7b;
}

footer .info > p {
    margin-bottom: 10px;
}
