@import "normalize-links.css";

@import "logo.css";
@import "top-nav.css";
@import "footer.css";

@import "be-responsive.css";

body {
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url("../img/bg/full-bloom.png");

	margin: 0;
	font-family: 'Farsan', cursive;
	font-size: 20px;
	letter-spacing: 1px;
	color: #440336;
}

main {
	min-height: 1000px;
}

img {
	max-width: 100px;
}
