.container {
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* By default every div which is a child of div 'row' will take full available horizontal space */
/*.row > div  {*/
/*    width: 100%;*/
/*}*/

/* Extra large screen [1200, inf) */
@media screen and (min-width: 1200px) {
    .container {
        width: 1140px;
    }
    /* 4 blocks */
    .col-xl-3 {
        width: 285px !important;
    }
    /* 3 blocks */
    .col-xl-4 {
        width: 380px !important;
    }
}

/* Large screen [992px, inf) */
@media screen and (max-width: 1199px) {
    .container {
        width: 960px;
    }
    /* 4 blocks */
    .col-lg-3 {
        width: 240px !important;
    }
    /* 3 blocks */
    .col-lg-4 {
        width: 320px !important;
    }
}

/* Medium screen [768px, 992px) */
@media screen and (max-width: 991px) {
    .container {
        width: 720px;
    }
    /* 3 blocks */
    .col-md-4 {
        width: 240px !important;
    }
    /* 2 blocks */
    .col-md-6 {
        width: 360px !important;
    }
}

/* Small screen [576, 768) */
@media screen and (max-width: 767px) {
    .container {
        width: 540px;
    }
    /* 2 blocks */
    .col-sm-6 {
        width: 270px !important;
    }
    /* 1 blocks */
    .col-sm-12 {
        width: 540px !important;
    }
}

/* Extra small screen (0, 576) */
@media screen and (max-width: 575px) {
    .container {
        width: 93.75%;
    }
    /* 1 block */
    .row > div  {
        width: 100% !important;
    }
}
