@import "../_helpers/remove-weird-blue-light.css";
@import "../_helpers/normalize-links.css";
@import "../_models/card.css";
@import "../_models/flip-flop.css";

@import "logo.css";
@import "top-nav.css";
@import "footer.css";

@import "../_services/be-responsive.css";

@import "../views/posts/posts.css";
@import "../views/fibers.css";
@import "../views/form.css";
@import "../views/fiber-details.css";
@import "../views/welcome.css";

body {
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url("../../img/bg/full-bloom.png");
	background-attachment: fixed;

	margin: 0;
	font-family: 'Farsan', cursive;
	font-size: 20px;
	letter-spacing: 1px;
	color: #440336;
}

main {
	min-height: 1000px;
	margin: 20px 0;
}
